# secret / env files
.env

# virtual environment
venv/
.venv/

# dummy folder
llm/toremove

# excluded experiment prompt
llm/prompts/with_training_data_v1.md

# database backup
data/results_full_backup.db